:root {
  --darkcolor: rgb(28,0,41);
  --lightcolor1: rgb(132,101,219);
  --lightcolor2: rgb(22, 86, 223);
  --h1Color: rgb(119, 0, 255);
  --lightshadow: rgba(83, 83, 83, 0.678);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--lightcolor1)
}
body {
  background-color: var(--darkcolor);
  color: var(--lightcolor1);
  height: 100vh;
}
header {
  width: 100%;
  background-color: var(--lightshadow);
}
nav {
  width: 100%;
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 18px;
  margin: 0 10px 0 -20px;
}
nav a {
  margin: 0 10px 0 10px;
}
h1 {
  color: var(--h1Color);
  font-size: 50px;
  font-family: cursive;
}
h2 {
  color: var(--lightcolor2)
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid var(--lightcolor1);
  margin-top: 50px;
}
#about-me {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
#about-me p{
  text-align: center;
  font-family: cursive;
}
#about-me h2{
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card-image {
  background: plum;
  position: relative;
  width: 600px;
  flex: 1;
  height: 400px;
  margin: 20px;
  color: rgb(4, 217, 255);
  border-radius: 20px;
}
.card-image img{
  opacity: 0.4;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .6s;
  transition-property: opacity, transform;
  border-radius: 20px;
}

.card-image:hover img{
  opacity: 1;
}

.card-image .info{
  z-index: 1;
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 100%;
}
.card-image .info h3{
  text-align: center;
  margin-top: 30%;
  font-size: 45px;
}
.card-image .info p{
  text-align: center;
  margin-top: 25%;
  opacity: 0;
  transition: .6s;
  transition-property: opacity, transform;
}
.card-image .info a{
  color: rgb(4, 217, 255);
}
.card-image:hover .info p{
  opacity: 1;
}
#contact {
display: block;
text-align: center;
}
#contact h2{
  padding: 20px;
}
#contact a{
  padding: 10px;
}



@media screen and (max-width: 768px) {
.card-image {
  width: 300px;
  height: 200px;
}
.card-image .info h3{
  margin-top: 25%;
}
.card-image .info p{
  text-align: center;
  margin-top: 15%;
  opacity: 0;
  transition: .6s;
  transition-property: opacity, transform;
}
header {
  text-align: center;

}
nav {
  justify-content: center;
  position: relative;
  top: 50px;
}
header {
  height: 125px;
}
}
